.postItem {
  border: 1px solid red;
  width: 60vw;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 0.3em;
  padding: 2em;
  box-sizing: border-box;
  margin-bottom: 2em;
}

.authorPost {
  color: #7C787E;
}

.titlePost {
  font-weight: bold;
}

.comments {
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}